input[type="range"] {
    width:400px;
  }

  h1{
    color: bisque;
    font-family:monospace;
    font-size:xx-large;
}

p1{
    color: #000000;
    font-family: monospace;
    font-size: large;
}

label{
  color: #000000;
    font-family: monospace;
    font-size: large;
}

input[type="text"] {
  width:300px;
  color: #000000;
  font-family: monospace;
  font-size: large;
}

button{
  font-family:monospace;
  font-size: large;
}

